# IntelliJ #
*.iml
.idea/
atlassian-ide-plugin.xml
/lib/
odisee-api/lib/
odisee-console/lib/
odisee-enterprise/lib/
odisee-repository/lib/
odisee-resource/lib/
odisee-workflow/lib/

# Compiler #
*.class
out/
target/

# Package Files #
*.jar
*.war
*.ear

# oXygen XML Editor #
*.xpr

# Tests #
odisee-officeconnector/src/test/report/

# JRebel #
rebel.xml
